body{
    background-color: rgb(192, 192, 192);
    background-size: 19%;
    background-position: center translateY(100px);
    overflow: hidden;
  }
  
  
  
h1{
  text-align: center;
}
  
  
.nav{
  background-color: rgb(243, 227, 247);
  cursor: pointer;
  height: 50px;
  width: 100px;
  margin: 5px;
  position: relative;
  border-width: 2px;
  border-radius: 5px;
  transform: translateX(40px);
}

.text{
  font-size: 30px;
}



.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.center-image img {
  width: 45%;
  height: auto;
}