.youtube-button{
    background-color: red;
    color: white;
    cursor: pointer;
    height: 35px;
    width: 100px;
    border-radius: 2px;
}

.hey-button{
    background-color: blue;
    color: red;
    cursor: pointer;
    height: 35px;
    width: 100px;
    border-radius: 2px;
}


.faceit-button{
    background-color: grey;
    color: red;
    cursor: pointer;
    height: 35px;
    width: 100px;
    border-radius: 2px;
}



h1{text-align: center;}